@font-face{
   font-family: shakeFont;
   src: url(fonts/HARLOWSI.ttf);
}

/* ---------Index template page styling------------- */
*    { box-sizing: border-box; }
body { margin: 0; }

html{
    background-color: #81c9e8;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body{
    color: white;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    font-weight: normal;

}

button{
    display: inline-block;
    margin: 5px;
    padding: 10px;
    background-color: #81c9e8;
    border-radius: 50px;
    border: 4px solid;
    border-color: white;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
    font-size: 32px;
}

button:hover{
    transform:scale(105%);
    cursor: pointer;
}

label {
  display: inline-block;
}

 input[type=submit]{
     align-self: center;
     color: white;
     margin: 5px;
     padding: 10px;
     background-color: #81c9e8;
     border-radius: 50px;
     border: 4px solid;
     border-color: white;
     border-radius: 8px;
     font-weight: bold;
     box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
     font-size: 32px;
     cursor: pointer;
 }

 input[type=text]{
     float: right;
 }

.footer{
    background-color: #44a8d3;
    margin: 0px;
    height: 100%;
    width: 100%;
    /* position: absolute; */
    margin-bottom: : 0;

}

.hidden{
    display: none !important;
}

.close{
    color: black;
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42;
    transform: rotate(45deg);
    cursor:pointer;
}
main#homepage{
    padding: 0px;
    margin-bottom: 0px;
    background-color: #81c9e8;
    height: 100vh;
    width: 100vw;
    position: relative;
}

#app-name{
    display: flex;
    /* align-content: space-around; */
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    /* border-bottom: #44a8d3;
    border-style: solid;
    border-bottom-width: : 20px; */
}

#title-img{
    max-width: 100vw;
    max-height: 30vh;
}

.tiled-sprinkles{
    background-image: url("images/sprinkles.png");
    background-repeat: repeat;
    background-size: 200px;
}

#nav-view-container{
    font-family:"shakeFont";
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:flex-start;
    background-color: #ffe1e2;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

#weather-view-container{
    font-family: Verdana, monospace;
    font-weight: bold;
    display: flex;
    /* flex: 1; */
    flex-direction: row;
    justify-content:flex-start;
    align-items:flex-start;
    background-color: #ff69ac;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

#footer-view-container{
    font-family: Verdana, monospace;
    font-weight: bold;
        color: white;
    display: flex;
    /* position: fixed; */
    background-color: #81c9e8;
    bottom: 0;
    left: 0;
    padding: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
}

#menu-view-container{
    font-family: Verdana, monospace;
    font-weight: bold;
    color: white;
    display: flex;
    flex-shrink: 1;
    /* flex: 1; */
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background-color: #ffe1e2;
    height: 60vh;
    max-height: 100vh;
    max-width: 100vw;
    margin-bottom: 0px;
    /* ;width: 100%; */
}

.select-outer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-content: space-around; */
    background-color: white;
    max-width: 100%;
    max-height: 100%;
    margin: 15px;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

.select-container label{
    max-width: 100%;
    max-height: 100%;
    clear: both;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: #81c9e8;
    border-radius: 12px;
    border-color: None;
    padding: 15px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

.cow-container{
    display: flex;
    flex-wrap: wrap;
    min-width: 50px;
    min-height: 100px;
    max-width: 100%;
    max-height: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    background-color: #81c9e8;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

.nav-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: #44a8d3;
    width: 100vw;
    padding: 10px;
    margin-top: 0px;
    /* border-radius: 50px; */
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}

.side-scroll p {
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    background-color: #ff69ac;
    width: 100vw;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* border-radius: 50px; */
    font-size: 32px;
   -moz-transform: translateX(100%);
   -webkit-transform: translateX(100%);
   transform: translateX(100%);
   -moz-animation: scroll-left 2s linear infinite;
   -webkit-animation: scroll-left 2s linear infinite;
   animation: scroll-left 20s linear infinite;
}

@-moz-keyframes scroll-left {
   0% {
       -moz-transform: translateX(100%);
   }
   100% {
       -moz-transform: translateX(-100%);
   }
}

@-webkit-keyframes scroll-left {
   0% {
       -webkit-transform: translateX(100%);
   }
   100% {
       -webkit-transform: translateX(-100%);
   }
}

@keyframes scroll-left {
   0% {
       -moz-transform: translateX(100%);
       -webkit-transform: translateX(100%);
       transform: translateX(100%);
   }
   100% {
       -moz-transform: translateX(-100%);
       -webkit-transform: translateX(-100%);
       transform: translateX(-100%);
   }
}
/* Button Id's for any customized styling */
/* Only white font right now */
#nav-button{
    font-family:"shakeFont";
    color: white;
}
#select-choice-button{
    font-family: Verdana, monospace;
    font-weight: bold;
    color: white;
}

#page-title{
    align-self: center;
    font-size: 42px;
    margin: 0px;
}

#info-blurb{
    display: block;
    align-self: center;
    font-size: 24px;
    padding: 10px;
    margin-top: -50px;
}

#checkbox-style{
    display: inline-block;
    vertical-align: middle;
    color: white;
    background-color: #44a8d3;
    float: right;
    min-width: 250px;
    transform : scale(2)
}

#cow-image{
    align-self: center;
    width: 25%;
    height: 25%;
}


#my-location{
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    color: black;
    float: right;
    width: 100px;
}

#alt-location-choice{
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    color: white;
    float: right;
    width: 100px;
}

#large-text{
    font-family: Verdana, monospace;
    font-weight: bold;
    font-size: 28px;
}

.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content{
    width: 50vw;
    height: 50vh;
    background-color: white;
}
