{% extends "index.html" %}
{% block content %}
    <div class="cow-container">
    {% if locData != None %}
        {% for loc in locData %}
            <button id="select-choice-button">{{ locData[loc] }}</button>
        {% endfor %}
    {% else %}
        <button id="select-choice-button">McDonald's</button>
        <button id="select-choice-button">Burgerville</button>
        <button id="select-choice-button">Dairy Queen</button>
    {% endif %}
    </div>
{% endblock %}

{% block weather %}
    {% if showWeather == "on" %}
        <div class="side-scroll">
        {% if weatherData != None %}
            <p>{{ weatherData }}</p>
        {% else %}
            <p>Enter Location in Settings to see Message!</p>
        {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block locationModal %}
    {% if showLocationModal == True %}
    <!-- popup modal for initial location input-->
    <div class="bg-modal">
        <div class="settings-container">
            <form action="#"  method="POST">
                <p><label id="large-text" class="settings-table">My Location<input input type="text" name="modal-location" id="my-location" placeholder="City"></input></label></p>
                <p><input input type="submit" value="submit"></input></p>
            </form>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block settingsModal %}
    <div class="bg-modal settings-modal">
        <!-- popup modal for settings -->
        {% include 'settingsModal.html' %}
    </div>
{% endblock %}
