{% extends "home.html" %}
{% block content %}
    <form action="#" class="select-container" method="POST">
        <p><label id="large-text"><input type="checkbox" id="checkbox-style">Shake Weather</input></label></p>
        <p><label id="large-text"><input input type="checkbox" id="checkbox-style">Show Ethic Cow</input>
        </label></p><p><label id="large-text"><input input type="text" name="location-input" id="my-location">My Location</input>
        </label></p><p><label id="large-text"><input input type="submit" value="submit"></input></label></p>
    </form>
{% endblock %}
