{% extends "home.html" %}
{% block content %}
    <form action="#" class="select-container" method="POST">
        <p><label id="large-text">Shake Weather<input type="checkbox" id="checkbox-style"></input></label></p>
        <p><label id="large-text">Show Ethic Cow<input input type="checkbox" id="checkbox-style"></input></label></p>
        <p><label id="large-text">My Location<input input type="text" name="location-input" id="my-location" placeholder="Enter city"></input></label></p>
        <p><input input type="submit" value="submit"></input></p>
    </form>
{% endblock %}
